*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgb(152, 152, 152);
    padding: 30px 50px;
}
article{
    padding: 25px 0 25px 0;
}
header img{
    min-width: 100%;
}
h4{
    display: flex;
    justify-content: space-between;
    border-left: 10px solid grey;
    border-bottom: 1px solid gray;
    padding-left: 5px;
    color: rgb(51, 51, 51);
    margin: 10px 0 20px 0;
}
p{
    line-height: 1.5em;
    text-indent: 10%;
}
ul{
    list-style-type: none;
    line-height: 23px; 
}
ol{
    line-height: 23px;
    margin-left: 30px;
}
.counteiner{
    background-image: url(imagens/fundo-f1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
}
.equipes{
    list-style-position: outside;
    width: 500px;
}
.equipes img{
    display: inline-block;
    width: fit-content;
}
.equipes li{
    border-bottom: 1px solid rgb(104, 104, 104);
    padding: 4px 0 4px 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: yellowgreen;
    text-decoration: underline;
}
img{
    display: block;
    width: 100%;
    max-width: fit-content;
}
table td, th{
    text-align: center;
    border-bottom: 2px dotted black;
    width: 165px; 
}